@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4 z-n2">
            <a href="">Se Connecter</a>
        </div> *@

        <article class="p-0">
            @Body
        </article>
    </main>

    <footer class="site-footer">
        <div id="year">
            &copy; MSA Niger 2025 - NextDev .Net
        </div>
    </footer>
</div>