@page "/"

<!-- HERO -->
<header class="hero pt-5 pb-3">
    <div class="hero-content">
        <p class="hero-subtitle">Découvrir, S'entraider et Progresser</p>
        <!-- Mettre L'accent sur le groupe et l'entraide, ce qui est crucial pour surmonter nos defis mineurs -->

        <!-- titre -->
        <h1 class="hero-title">
            <span class="title-wrap">
                <span class="braces">{</span>
                <span class="brand">Dan Kassawoua</span>
                @* email: contact@dankassawoua.net // site : www.dankassawoua.net *@
                <span class="braces">}</span>
            </span>
        </h1>

        <p class="hero-desc">Curieux comme des explorateurs, soudés comme une forteresse, avançant toujours vers de nouveaux horizons.</p>
        <!-- Description Court -->

        <NavLink class="btn btn-primary" href="Team">Notre équipe</NavLink>

        <div class="hero-stats mt-5" aria-hidden="false">
            <div class="stat">
                <span class="icon"><i class="fas fa-video"></i></span>
                <strong>Microsoft Learn</strong>
                <small>Ressources</small>
            </div>

            <div class="stat">
                <span class="icon"><i class="fas fa-clock"></i></span>
                <strong>3 mois</strong>
                <small>Formation</small>
            </div>

            <div class="stat">
                <span class="icon"><i class="fas fa-unlock"></i></span>
                <strong>Illimité</strong>
                <small>Access</small>
            </div>
        </div>
    </div>
</header>

<!-- LEARNING -->
<section class="learn-section">
    <div class="container">
        <h2>Le programme d'apprentissage - NextDev</h2>
        <p class="lead">
            Notre aventure en C# et ASP.NET commence ici. 
            Ensemble, nous maitriserons les bases de la programmation, nous nous entraidons face aux défis, et nous progressons à notre rythme.
            Ici, chaque erreur est une leçon et chaque petite victoire se partage.
            Rejoignez-nous pour transformer vos premières lignes de code en de nouvelles possibilités.
        </p>

        <div class="learn-list">
            <div class="row learn-grid">
                <div class="col-md-6">
                    <div class="learn-item"><i class="fas fa-check-circle"></i><div>Microsoft Learn - .NET principes et bonnes pratiques.</div></div>
                    <div class="learn-item"><i class="fas fa-check-circle"></i><div>Approche pratique : ASP.NET Core, Blazor et MAUI</div></div>
                </div>

                <div class="col-md-6">
                    <div class="learn-item"><i class="fas fa-check-circle"></i><div>APIs & sécurité : conception et consommation d'APIs.</div></div>
                    <div class="learn-item"><i class="fas fa-check-circle"></i><div>Déploiement réel : livraison d'une application web et mobile.</div></div>
                </div>
            </div>
        </div>
    </div>
</section>